@layout('layouts/base')

@set('title','Data Pengajuan Surat')
@set('page_heading','Manajemen Data Surat Warga')
@set('sub_heading','')

@section('content')
<section class="section">
    <div class="card">
        <div class="card-body ">

        </div>
    </div>
</section>
@end